*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;
}

.content {
    max-width: 80%;
    margin: 50px auto;
}

.container {
    width: 70%;
    height: 80%;
    margin: 50px auto;
    padding: 50px;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.295) 5px 5px 5px ;
}

.inputTarefas {
    width: 80%;
    margin: auto;
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

button {
    background-color: rgb(65, 65, 65);
    color: whitesmoke;
    margin-left: 10px;
    padding: 10px;
    font-family: 'Mohave';
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.473) 3px 3px 3px ;
}

button:hover {
    background-color: rgba(66, 66, 66, 0.842);
    box-shadow: none;
    
}


h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 40px;
}

ul {
    width: 70%;
    margin: auto;
    list-style-type: none;
    list-style-position: outside;
 }

li {
    margin: 20px;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


a {
    color: black;
    text-decoration: none;
}